*,
html {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  padding: 0;
  margin: 0;
  /* width: 100%; */
  box-sizing: border-box;
}

body {
  /* display: flex; */
  background-color: rgb(42, 28, 77);
  /* background: rgb(0,0,0);
  background: linear-gradient(0deg, rgba(0,0,0,1) 0%, rgba(29,253,224,1) 30%, rgba(7,40,156,1) 100%); */
  text-align: center;
  transition: background 500ms ease-in-out, color 1000ms ease-in-out;
}
h1 {
  background-color: rgb(91, 91, 238);
  text-align: center;
  display: flex;
  justify-content: center;
  color: rgb(252, 248, 240);
  padding: 10px;
  padding-bottom: 1rem;
}

.nav {
  background-color: rgb(58, 58, 58);
  text-align: center;
  padding: 5px;
}

nav a {
  text-decoration: none;
  color: aliceblue;
  margin: 5px;
  background-color: rgb(58, 58, 58);
}

section {
  background-color: rgb(134, 139, 143);
  background: rgb(49,39,212);
  background: linear-gradient(0deg, rgba(49,39,212,1) 0%, rgba(33,181,157,1) 27%, rgba(2,0,36,1) 100%);
  height: 400px;
  clip-path: polygon(50% 0%, 100% 0%, 100% 65%, 50% 100%, 0 65%, 0 0);

  
}

section h2 {
  margin-top: 10px;
  color: whitesmoke;
}
section h4 {
  color: whitesmoke;
  font-weight: normal;
  font-style: italic;
}

section a{
  text-decoration: none;
  color: whitesmoke;
  font-weight: lighter;
}

img {
  border-radius: 100px;
  margin: 25px;
  margin-top: 80px;
  scale: 130%;
}

article {
  overflow: hidden;
}

.main-content {
  background-color: rgb(42, 28, 77);
  padding: 25px;
  /* width: 40%; */
  /* display: flex; */
  float: left;
  width: 50%;
  height: 400px;
  max-height: fit-content;
  /* display: block; */
}

.box-kiri {
  margin: 10px;
  background-color: #1dfde0;
  padding: 15px;
  font-size: medium;
  text-align: justify;
}
.box-kiri-edu{
  margin: 10px;
  background-color: #1dfde0;
  text-align: start;
  padding: 15px;
  margin-top: 50px;
}

aside {
  background-color: rgb(42, 28, 77);
  float: left;
  width: 50%;
  height: 400px;
}

.box-kanan {
  margin: 35px;
  background-color: #1dfde0;
  padding: 15px;
  /* font-size: 20px; */
}

/* .box-kanan-1 {
  margin: 35px;
  background-color: #1dfde0;
  padding: 15px;
} */

#motto{
  /* margin: 20px; */
  margin: 50px;
  background-color: #1dfde0;
  padding: 57px;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  font-weight: bolder;
  font-size: larger;
  color: rgb(56, 52, 34);
}


ul {
  list-style-type: none;
}

footer {
  background-color: rgb(58, 58, 58);
  text-align: center;
  color: aliceblue;
  padding: 10px;
}
